@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.bs3 {
  border-radius: 16px;
  background: rgba(103, 101, 101, 0.55);
}
.green {
  color: #d3f58c;
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  /* line-height: 100%; */
  letter-spacing: -1.2px;

}
.btn-bg {
  border-radius: 40px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.17) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #333336;
}
.gs3 {
  margin-left: 10px
}
.gs4 {
  margin-left: 80px;
}
/* .gs3-h4 {
  display: flex;
  align-items: center;
} */
.btn-read {
  width: 100px;
  height: 40px;
  background-color: #3e3e3e;
  color: #fff;
  border-radius: 30px;
}

.simple {
  background: linear-gradient(90deg, #daed00 0%, #ffc5eb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script", cursive;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.196px;
}

@media only screen and (max-width: 320px){
  .gs3{
    margin-left: 20px;
  }
}

@media only screen and (max-width: 426px) {
  .sm-img {
    display: none;
  }
  .main-div {
    width: 100vw !important;
  }
  .gs3 {
    margin-left: 10px;
    /* background-color: #d3f58c; */
   
  }
  .news-text {
    bottom: 0px;
   
  }

  .green {
   
    display: none;
  }

}

@media only screen and (max-width: 768px) {
  .green {
    font-size: 40px;
    bottom: 8rem;
  }
  .sm-img {
    display: none;
  }
  .bs3 {
    background-color: transparent;
  }
  .btn-bg {
    display: none;
  }
  .arrow {
    display: none;
  }
  .btn-hide {
    display: none;
  }
}
